<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li>
          <a href="/docs/providers/{{.ProviderName}}/index.html">{{title .ProviderName}} Provider</a>
        </li>

        <li>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li>
              <a href="/docs/providers/{{.ProviderName}}/d/scaffolding_data_source.html">{{.ProviderName}}_scaffolding_data_source</a>
            </li>
          </ul>
        </li>

        <li>
        <a href="#">Resources</a>
        <ul class="nav nav-visible">
          <li>
            <a href="/docs/providers/{{.ProviderName}}/r/scaffolding_resource.html">{{.ProviderName}}_scaffolding_resource</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
